
.wrapper {
    width: 100%;
    margin: 0 auto; 
    padding: 0 40px;
    box-sizing: border-box;
}

header {
    height: 70px;
    background-color: #d2b6d4;
}
h1, a {
    font-family: "Open Sans", sans-serif;
    color: #434e74;
    text-decoration: none;
}

.header__name {
    font-size: 26px;
    font-weight: 700;
    float: left;
    padding: 14px 0 0 14px;
}

.header__nav {
    width: 40%;
    margin-right: 0;
    margin-left: auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.header__nav a {
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}

.header__nav a:hover {
    color: #e6ddee;
}

.catalog {
    background-color:#e6ddee;
    padding: 30px 0 30px 0;
    height: 80vh;
}

.catalog__table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
}

.product:nth-child(1) {
    background-color: #9f85bd;
}

.product:nth-child(5n+1) {
    background-color: #3f1f79;
}

.product:nth-child(5n+2) {
    background-color: #3e686e;
}

.product:nth-child(5n+3) {
    background-color: #a55798;
}

.product:nth-child(5n+4) {
    background-color: #59b8ac;
}

.product__name, .product__description {
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    padding-top: 10px;
    text-align: center;
    margin: 0 auto;
}

.product__name {
    font-size: 24px;
    font-weight: 700;
    width: 60%;
}

.product__description {
    font-size: 14px;
    width: 80%;
    font-weight: 400;
}

/* profile */

.profile, .order, .edit, .login {
    background-color: #e6ddee;
    padding-top: 30px;
    min-height: 80vh;
    padding-bottom: 30px;
}

.profile__personality {
    font-family: "Open Sans", sans-serif;
    color: #434e74;
    height: 35px;
    background-color: #d2b6d4;
    font-size: 20px;
    font-weight: 300;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.profile__personality p {
    display: inline-block;
}

.profile__personality__name, .order__name, .edit__name, .login__name {
    padding-top: 0;
    font-size: 28px;
    font-weight: 400;
    padding-left: 15px;
}

.profile__personality__balance {
    padding-top: 4px;
    padding-right: 10px;
}

.profile__personality__status {
    padding-top: 4px;
    margin-left: 40%;
}

.profile__table {
    display: grid;
    grid-template-columns: 200px auto;
    gap: 30px;
    padding-top: 35px;
}

.profile__table__photo img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.profile__table__information {
    word-wrap: break-word;
    display: grid;
    grid-auto-rows: minmax(40px, auto);
    row-gap: 15px;
}

.information__title {
    font-family: "Open Sans", sans-serif;
    color: #434e74;
    font-size: 20px;
    font-weight: 700;
}

.information__text, .order__text, .edit__text, li, .login__text {
    font-family: "Open Sans", sans-serif;
    color: #434e74;
    font-size: 20px;
    font-weight: 300;
}

ul {
    background-color: #e6ddee;
}
.information__orders {
    display: grid;
    width: 80%;
    grid-template-columns: 20% 30% 10% 15% 25%;
}

.information__orders p:first-child, .product__orders p:first-child {
    border-left: 2px solid #434e74;
}
.information__orders p, .product__orders p {
    border-right: 2px solid #434e74;
    border-bottom: 2px solid #434e74;
    padding-left: 2px;
}
.information__orders__header {
    border-top: 2px solid #434e74;
    font-weight: 400;
}

.order__form, .edit__form, .login__form {
    padding-left: 15px;
}

.product__orders {
    display: grid;
    padding-right: 43px;
    width: 70%;
    grid-template-columns: 30% 30% 25% 20%;
}