html {
    font-family: "Open Sans", sans-serif;
    background-color:#e6ddee;
}

.wrapper {
    width: 100%;
    margin: 0 auto; 
    padding: 0 40px;
    box-sizing: border-box;
    position: relative;
}

header {
    height: 70px;
    background-color: #d2b6d4;
}

a {
    font-family: "Open Sans", sans-serif;
    color: #434e74;
    text-decoration: none;
}

.header__name {
    font-size: 26px;
    font-weight: 700;
    float: left;
    padding: 14px 0 0 14px;
}

.header__nav {
    width: 40%;
    margin-right: 0;
    margin-left: auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.header__nav a {
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}

.header__nav a:hover {
    color: #e6ddee;
}

.section {
    padding: 30px 0 30px 0;
}

.catalog__table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
}

.product:nth-child(5n) {
    background-color: #9f85bd;
}

.product:nth-child(5n+1) {
    background-color: #3f1f79;
}

.product:nth-child(5n+2) {
    background-color: #3e686e;
}

.product:nth-child(5n+3) {
    background-color: #a55798;
}

.product:nth-child(5n+4) {
    background-color: #59b8ac;
}

.product__name, .product__description {
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    padding-top: 10px;
    text-align: center;
    margin: 0 auto;
}

.product__name {
    font-size: 24px;
    font-weight: 700;
    width: 60%;
}

.product__description {
    font-size: 14px;
    width: 80%;
    font-weight: 400;
}

.profile__personality {
    height: 35px;
    background-color: #d2b6d4;
    font-size: 20px;
    font-weight: 300;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.profile__personality p {
    display: inline-block;
}

.section__name {
    color: #434e74;
    padding-top: 0;
    font-size: 28px;
    font-weight: 400;
    padding-left: 15px;
}

.profile__balance {
    padding-top: 4px;
    padding-right: 10px;
}

.profile__status {
    padding-top: 4px;
    margin-left: 40%;
}

.profile__table {
    display: grid;
    grid-template-columns: 200px auto;
    gap: 30px;
    padding-top: 35px;
}

.profile__photo img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.profile__information {
    word-wrap: break-word;
    display: grid;
    grid-auto-rows: minmax(40px, auto);
    row-gap: 15px;
}

.section__title {
    font-family: "Open Sans", sans-serif;
    color: #434e74;
    font-size: 20px;
    font-weight: 700;
}

.section__text {
    font-family: "Open Sans", sans-serif;
    color: #434e74;
    font-size: 20px;
    font-weight: 300;
}

ul {
    background-color: #e6ddee;
}

.edit-profile {
    position: absolute;
    top: 75px;
    right: 50px;
}

.profile__orders {
    display: grid;
    width: 90%;
    grid-template-columns: 5% 20% 30% 10% 10% 25%;
}

.profile__orders p:first-child, .product__orders p:first-child, .user__table p:first-child {
    border-left: 2px solid #434e74;
}

.profile__orders p, .product__orders p, .user__table p {
    border-right: 2px solid #434e74;
    border-bottom: 2px solid #434e74;
    padding-left: 2px;
}

.profile__orders__header p, .product__orders__header p, .user__table__header p {
    border-top: 2px solid #434e74;
}

.product__orders {
    display: grid;
    padding-right: 43px;
    width: 70%;
    grid-template-columns: 30% 30% 25% 20%;
}

.user__table {
    display: grid;
    padding-right: 43px;
    width: 100%;
    grid-template-columns: 6% 5% 24% 30% 10% 15% 10%;
}
.register {
    padding-left: 0;
    padding-bottom: 20px;
}

input, select, textarea {
    border-radius: 5px;
    border: 0;
    outline: none;
}

#submit {
    color: #434e74;
    margin-top: 15px;
    padding: 7px 20px;
    background-color: #d2b6d4;
    border: 0;
    border-radius: 5px;
}

#remember_me, #get_reciept {
	opacity: 0;
	margin: 30px 0 0 -10px;
}
#remember_me + label, #get_reciept+label {
	position: relative;
	padding: 0 0 0 60px;
	cursor: pointer;
}
#remember_me + label:before, #get_reciept + label:before {
	content: '';
	position: absolute;
	top: -4px;
	left: 0;
	width: 50px;
	height: 26px;
	border-radius: 13px;
	background: #CDD1DA;
	box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
	transition: .2s;
}
#remember_me + label:after, #get_reciept + label:after {
	content: '';
	position: absolute;
	top: -2px;
	left: 2px;
	width: 22px;
	height: 22px;
	border-radius: 10px;
	background: #FFF;
	box-shadow: 0 2px 5px rgba(0,0,0,.3);
	transition: .2s;
}
#remember_me:checked + label:before, #get_reciept:checked + label:before {
	background: #d2b6d4;
}
#remember_me:checked + label:after, #get_reciept:checked + label:after {
	left: 26px;
}
#remember_me:focus + label:before, #get_reciept:focus + label:before {
	box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 3px rgba(38, 30, 68, 0.7);
}

.error {
    color: #434e74;
    font-size: 16px;
    font-weight: 700;
}

.admin {
    left: 150px;
    transition: 200ms linear;
    position: absolute;
}

.admin-left {
    left: 350px;
    transition: 200ms linear;
}

.burger {
    position: absolute;
    z-index: 1;
    left: 50px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 200ms linear;
}

.burger-click {
    transform: rotate(90deg);
    transition: 200ms linear;
}

.admin-nav {
    transform: translateX(-101%);
    transition: 200ms linear;
    position: absolute;
    margin-top: -30px;
    margin-left: -40px;
    top: 0;
    height: 90vh;
    width: 300px;
    background-color: #d2b6d4;
    border-top: 3px solid #434e74;
    border-right: 3px solid #434e74;
}

.admin-nav-click {
    -webkit-transform: none;
    transform: none;
    transition: 300ms linear;
}

.admin-nav__list {
    padding-top: 100px;
    padding-left: 50px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.admin-nav__list a {
    width: 200px;
    padding-bottom: 40px;
    font-size: 21px;
    font-weight: 400;
}

.admin__page {
    position: absolute;
    width: 80%;
    left: 165px;
    top: 100px;
    transition: 200ms linear;
}

.admin__page-left {
    transition: 200ms linear;
    left: 365px;
}

.arrows {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.arrow, .arrow__block, .page {
    font-size: 40px;
    font-weight: 700;
}

.arrow:hover {
    color: #fff;
}

.arrow__block {
    color: gray;
}

.simple-checkbox__main, .simple-checkbox {
    width: 20px;
    height: 20px;
    margin: 5px 0 0 10px;
}