<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./assets/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="wrapper">
            <h1 class="header__name">TechShop</h1>
            <div class="header__nav">
                <a href="{{ url_for('catalog') }}">Home</a>
                {% if current_user.is_anonymous %}
                <a href="{{ url_for('login') }}">Login</a>
                {% else %}
                <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
                <a href="{{ url_for('get_order') }}">Order</a>
                <a href="{{ url_for('logout') }}">Logout</a>
                {% endif %}
        </div>
        </div>
    </header>
    <main>
        <!-- if we are in catalog go there -->
        <div class="catalog-page"></div>
        <script>
            var htReq = ('v' == '\v') ? new ActiveXObject ('Microsoft.XMLHTTP') : new XMLHttpRequest ();
            htReq.open ('get', 'catalogChval9.html');
            htReq.onreadystatechange = getReq;
            htReq.send (null);             
            function getReq ()
            {
            if (htReq.readyState == 4) document.querySelector(".catalog-page").innerHTML=htReq.responseText;
            }
        </script>
        <!-- --------------------------------- -->
        <!-- if we're in profile go there -->
        <div class="profile-page"></div>
        <script>
            var htReq = ('v' == '\v') ? new ActiveXObject ('Microsoft.XMLHTTP') : new XMLHttpRequest ();
            htReq.open ('get', 'profileChval9.html');
            htReq.onreadystatechange = getReq;
            htReq.send (null);             
            function getReq ()
            {
            if (htReq.readyState == 4) document.querySelector(".profile-page").innerHTML=htReq.responseText;
            }
        </script>
        <!-- ----------------- -->
    </main>
</body>
</html>