<!DOCTYPE html>
<html lang="en">
<head>
    {% if title %}
        <title>{{ title }} - Tech Shop</title>
        {% else %}
        <title>Tech Shop</title>
        {% endif %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <link href="./assets/style.css" rel="stylesheet" type="text/css">-->
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <link href="{{url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="wrapper">
            <a href="{{ url_for('catalog') }}" class="header__name">TechShop</a>
            <div class="header__nav">
                <a href="{{ url_for('catalog') }}">Home</a>
                {% if current_user.is_anonymous %}
                <a href="{{ url_for('login') }}">Sing In</a>
                <a href="{{ url_for('register') }}">Sing Up</a>
                {% else %}
                <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
                <a href="{{ url_for('get_order') }}">Order</a>
                <a href="{{ url_for('logout') }}">Logout</a>
                {% endif %}
        </div>
        </div>
    </header>
    <main>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
<!--<script>-->
<!--    let but = document.getElementById('submit');-->
<!--    document.addEventListener('click',(e)=>{-->
<!--        if(e.target==but) {-->
<!--            document.location.href="order.html"-->
<!--        }-->
<!--    })-->
<!--    // document.getElementById('submit').preventDefault();-->
<!--</script>-->
</body>
</html>