    <main>
        <section class="catalog">
            <div class="wrapper">
                <div class="catalog__table">
                    <div class="product tv">
                        <p class="product__name">Телевизоры</p>
                        <p class="product__description">Теперь можешь видеть как ебут твою сестричку</p>
                    </div>
                    <div class="product telephone">
                        <p class="product__name">Телефоны</p>
                        <p class="product__description">Что звони, что не звони, ты все равно пидорас</p>
                    </div>
                    <div class="product fridge">
                        <p class="product__name">Холодильники</p>
                        <p class="product__description">Купи, залезь и замерзни насмерть</p>
                    </div>
                    <div class="product microwave">
                        <p class="product__name">СВЧ-печи</p>
                        <p class="product__description">Разогрей свои шутки там, клоун ссаный</p>
                    </div>
                    <div class="product v-cleaner">
                        <p class="product__name">Пылесосы</p>
                        <p class="product__description">Теперь твой член может стать как у японца</p>
                    </div>
                </div>
            </div>
        </section>

    </main>
</body>
</html>