{% extends 'base.html' %}
{% block content %}
    <p class="section__name register">Sing In</p>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            <p class="section__text">{{ form.username.label }}</p>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            <p class="section__text">{{ form.password.label }}</p>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span class="error" style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="section__text">{{ form.remember_me() }}{{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}