{% extends "base.html" %}

{% block content %}
    <p class="section__name register">Choose your product</p>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            <p class="section__text">{{ form.product_type.label }}</p>
            {{ form.product_type() }}<br>
            {% for error in form.product_type.errors %}
            <span class="error" style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            <p class="section__text">{{ form.model.label }}</p>
            {{ form.model() }}<br>
            {% for error in form.model.errors %}
            <span class="error" style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            <p class="section__text">{{ form.product_count.label }}</p>
            {{ form.product_count() }}<br>
            {% for error in form.product_count.errors %}
            <span class="error" style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            <p class="section__text"> {{ form.get_reciept }} {{ form.get_reciept.label }}</p>
            {% for error in form.get_reciept.errors %}
            <span class="error" style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
        <div class="order-info__block">
            <p class="dynamic-balance">Your balance: <span>{{ current_user.bank }}</span> $</p>
            <p class="dynamic-price-value">Cost: <span>{{ one_price }}</span> $</p>
            <p class="dynamic-price">Total: 0 $</p>
        </div>
    </form>
    <script src="../static/src/dynamic.js"></script>
{% endblock %}