{% extends "base.html" %}

{% block content %}
    <p class="section__name register">Choose your product</p>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            <p class="section__text">{{ form.product_type.label }}</p>
            {{ form.product_type() }}<br>
            {% for error in form.product_type.errors %}
            <span class="error" style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            <p class="section__text">{{ form.model.label }}</p>
            {{ form.model() }}<br>
            {% for error in form.model.errors %}
            <span class="error" style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            <p class="section__text">{{ form.product_count.label }}</p>
            {{ form.product_count() }}<br>
            {% for error in form.product_count.errors %}
            <span class="error" style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            <p class="section__text"> {{ form.get_reciept }} {{ form.get_reciept.label }}</p>
            {% for error in form.get_reciept.errors %}
            <span class="error" style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}