{% extends "base.html" %}

{% block content %}
    <p class="section__name register">Choose your product</p>
    <form action="/order" method="post">
        <p>
            <p class="section__text">Product Type</p>
            <input type="text" name="product_type" value="{{ type }}" readonly>
        </p>
        <p>
            <p class="section__text">Model</p>
            <input type="text" name="model" value="{{ model }}" readonly>
        </p>
        <p>
            <p class="section__text">Count</p>
            <input type="number" id="product_count" name="count" max="1000" min="0">
        </p>
        <p class="section__text">
            <input id="get_reciept" name="get_reciept" type="checkbox" value="y"><label for="get_reciept">Get reciept</label>
        </p>
        <p><input id="submit" type="submit" name="submit" value="Buy"></p>
        <div class="order-info__block">
            <p class="dynamic-balance">Your balance: <span>{{ current_user.bank }}</span> $</p>
            <p class="dynamic-price-value">Cost: <span>{{ one_price }}</span> $</p>
            <p class="dynamic-price">Total: 0 $</p>
        </div>
    </form>
    <script src="../static/src/dynamic.js"></script>
{% endblock %}