{% extends "base.html" %}

{% block content %}
<div class="order" style="padding-left: 15px">
    {% if products %}
        <div class="section__title product__orders__header product__orders">
            <p>Model</p>
            <p>Count</p>
            <p>Cost $</p>
            <p></p>
        </div>
        {% for product in products %}
        <div class="section__text product__orders">
            <p>{{ product.model }}</p>
            <p>{{ product.count }}</p>
            <p>{{ product.price }}</p>
            <p><a href="{{ url_for('get_order', model=product.model, type=product.type) }}">Buy me!</a></p>
        </div>
        {% endfor %}
        <div class="arrows">
            {% if prev_url %}
            <a href="{{ prev_url }}" class="arrow__left arrow">&lt;</a>
            {% else %}
            <a class="arrow__block">&lt;</a>
            {% endif %}
            <!-- <p  class="page">{{ page }}</p> -->
            {% if next_url %}
            <a href="{{ next_url }}" class="arrow__right arrow">&gt;</a>
            {% else %}
            <a class="arrow__block">&gt;</a>
            {% endif %}
        </div>
    {% else %}
        <p class="section__name">Sorry, we don't have such products!</p>
    {% endif %}
</div>
{% endblock %}