{% extends "base.html" %}

{% block content %}
<!--{% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user == current_user %}
                {% endif %}-->
<section class="profile">
    <div class="wrapper">
        <div class="profile__personality">
            <p class="profile__personality__name">{{ user.username }}</p>
<!--            <p class="profile__personality__status">Silver customer</p>-->
<!--            <p class="profile__personality__balance">Balance: 120$</p>-->
        </div>
        <div class="profile__table">
            <div class="profile__table__photo"><img src="https://instaturbo.ru/images/blog/5bbe5b813ffd5.jpg" alt="photo"></div>
            <div class="profile__table__information">
                {% if user.about_me %}
                <div class="profile__table__information__about">
                    <p class="information__title">About</p>
                    <p class="information__text">{{ user.about_me }}</p>
                </div>
                {% endif %}
                <div class="profile__table__information__about">
                    <p class="information__title">Contacts</p>
                    <p class="information__text">+375295555555</p>
                    <a class="information__text" href="https://vk.com/chval9">VK</a>
                </div>
                <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
                <div class="profile__table__information__about">
                    {% if current_user.id == user.id %}
                    <p class="information__title">Orders</p>

                    <div class="information__text information__orders__header information__orders">
                        <p>Type</p>
                        <p>Model</p>
                        <p>Cost $</p>
                        <p>Amount</p>
                        <p>Total $</p>
                    </div>
                    {% for order in orders %}
                    <div class="information__text information__orders">
                        <p>{{ order.product.type.name }}</p>
                        <p>{{ order.product.model }}</p>
                        <p>{{ order.product.price }}</p>
                        <p>{{ order.count }}</p>
                        <p>{{ order.price }}</p>
                    </div>
                    {% endfor %}
<!--                    </table>-->
<!--                    {% endif %}-->
                </div>
                {% if prev_url %}
                <a href="{{ prev_url }}">Newer orders</a>
                {% endif %}
                {% if next_url %}
                <a href="{{ next_url }}">Older orders</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}