{% extends "base.html" %}

{% block content %}
<!--{% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user == current_user %}
                {% endif %}-->
<section class="profile">
    <div class="wrapper">
        <div class="profile__personality">
            <p class="profile__personality__name">{{ user.username }}</p>
            <p class="profile__personality__status">Silver customer</p>
            <p class="profile__personality__balance">Balance: 120$</p>
        </div>
        <div class="profile__table">
            <div class="profile__table__photo"><img src="https://sun9-45.userapi.com/c849532/v849532761/1d962b/oV_Uu2Amn8U.jpg" alt="photo"></div>
            <div class="profile__table__information">
                <div class="profile__table__information__about">
                    <p class="information__title">About</p>
                    <p class="information__text">Its syka me</p>
                </div>
                <div class="profile__table__information__about">
                    <p class="information__title">Contacts</p>
                    <p class="information__text">+375295555555</p>
                    <a class="information__text" href="https://vk.com/chval9">VK</a>
                </div>
                <div class="profile__table__information__about">
                    <p class="information__title">Orders</p>
                    <div class="information__text information__orders__header information__orders">
                        <p>Product</p>
                        <p>Price</p>
                        <p>Amount</p>
                    </div>
                    <div class="information__text information__orders">
                        <p>Fridge denis</p>
                        <p>520$</p>
                        <p>600</p>
                    </div>
                    <div class="information__text information__orders">
                        <p>Television 510a</p>
                        <p>910$</p>
                        <p>150</p>
                    </div>
                    <div class="information__text information__orders">
                        <p>Fridge guwa</p>
                        <p>1020$</p>
                        <p>100</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
{% endblock %}